body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.game-pane{
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: 2px 2px 2px #ccc;

}


.cell {
    background-color:#ccc;
    width: 1.5em;
    height: 1.5em;
    border-style: outset;
    text-align: center;
    background: #ccc url(../Mine-sweeper.web/3.jpg);

    user-select: none;
}


.clear{
    border-style: solid;
    border-color: #ccc;
    background-color: #eee;

}

.cell.Iandmine{
    background-color: orange;
    background: #ccc url(../Mine-sweeper.web/1639826795246.jpg);
    background-size: cover;
}

.cell.Iandmine.exploded{
    background-color: red;
}

.cell.Iandmine.success {
    background-color: green;
}

.level{  
    text-align: center;
    margin-bottom: 10px;
}

.level button{
    padding: 5px 15px;
    background-color: rgb(223, 223, 200);
    color: rgb(182, 82, 82);
    border-radius: 3px;
    
}

.info{
    text-align: center;
    margin-top: 10px;
}

.cell.flag{
    background: rgb(168, 159, 159) url(../Mine-sweeper.web/3.jpg);
    background-size: cover
}